.DS_Store
.RData
.Rhistory
.Rproj.user
.Ruserdata
inst/data/
inst/doc
inst/python/clusternomics/
inst/python/scripts/*.html
inst/python/scripts/*.pdf
inst/python/scripts/*.png
inst/python/scripts/.ipynb_checkpoints/
inst/python/scripts/figures/
inst/python/scripts/john_pvals.csv
inst/python/scripts/img/
inst/scripts/Stan-model.html
